<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      <strong>Aurora</strong>
      is a place where businesses and people looking to kick start their career can meet, discus, share and help each other. 
    </p>
    <h2>For Businesses</h2>
    <h2>For Career Builders</h2>


