<div class="center hero-unit">
  <h1>Welcome to Aurora</h1>

  <h2>
    This is the home page for Aurora - the Web Apprenticeship Portal.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<p> Built with </p>
<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
